<!DOCTYPE html>
<html>
<head>
	<title>Predict</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Data Collection App</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login">Home</a></li>
                    <li><a href="/logout">logout</a></li>

                </ul>
            </div>
        </div>
    </nav>
	
	<div class = "container">
		<form method="POST" name="form" action = "form">
		
		<div class = "row">
		  <div class = "col-md-6">
				<div class="form-group">

					<label for="worked_out">worked out</label>
					<input type="text" class="form-control" id="worked_out" placeholder="Y/N" name="worked_out">
					
				</div>
			</div>
		  <div class = "col-md-6">
		  	<div class="form-group">
			    <label for="muscle_group">Muscle Group</label>
			    <input type="text" class="form-control" id="muscle_group" placeholder="Abs" name="muscle_group">
		  	</div>
		  </div>
		</div> 
		<div class = "row">
		  <div class = "col-md-6">
				<div class="form-group">

					<label for="exer_count">No of Exercises</label>
					<input type="text" class="form-control" id="exer_count" placeholder="3" name="exer_count">
					
				</div>
			</div>
		  <div class = "col-md-6">
		  	<div class="form-group">
			    <label for="meal_count">No of Meals</label>
			    <input type="text" class="form-control" id="meal_count" placeholder="3" name="meal_count">
		  	</div>
		  </div>
		</div>  
		<div class = "row">
		  <div class = "col-md-6">
				<div class="form-group">

					<label for="fapped_to">fapped_to</label>
					<input type="text" class="form-control" id="fapped_to" placeholder="Disha" name="fapped_to">
					
				</div>
			</div>
		  <div class = "col-md-6">
		  	<div class="form-group">
			    <label for="fap_count">No of faps</label>
			    <input type="text" class="form-control" id="fap_count" placeholder="3" name="fap_count">
		  	</div>
		  </div>
		</div>  
		<div class = "row">
		  <div class = "col-md-6">
				<div class="form-group">

					<label for="book">Book</label>
					<input type="text" class="form-control" id="book" placeholder="Kingkiller" name="book">
					
				</div>
			</div>
		  <div class = "col-md-6">
		  	<div class="form-group">
			    <label for="minutes_read">Minutes Read</label>
			    <input type="text" class="form-control" id="minutes_read" placeholder="10" name="minutes_read">
		  	</div>
		  </div>
		</div>  
		<div class = "row">
		  <div class = "col-md-6">
				<div class="form-group">

					<label for="mood">Mood</label>
					<input type="text" class="form-control" id="mood" placeholder="Good" name="mood">
					
				</div>
			</div>
		  <div class = "col-md-6">
		  	<div class="form-group">
			    <label for="hours_slept">Hours Slept</label>
			    <input type="text" class="form-control" id="hours_slept" placeholder="7" name="hours_slept">
		  	</div>
		  </div>
		</div>  
		<div class = "row">
		  <div class = "col-md-6">
				<div class="form-group">

					<label for="tv_show">Tv_Show</label>
					<input type="text" class="form-control" id="tv_show" placeholder="Friends/Peaky Blinders" name="tv_show">
					
				</div>
			</div>
		  <div class = "col-md-6">
		  	<div class="form-group">
			    <label for="episode_count">Episodes Watched</label>
			    <input type="text" class="form-control" id="episode_count" placeholder="1/1" name="episode_count">
		  	</div>
		  </div>
		</div>  
		<div class = "row">
		  <div class = "col-md-6">
				<div class="form-group">

					<label for="coffee_count">No of Coffees</label>
					<input type="text" class="form-control" id="coffee_count" placeholder="Friends/Peaky Blinders" name="coffee_count">
					
				</div>
			</div>
		  <div class = "col-md-6">
		  	<div class="form-group">
			    <label for="dollar_spent">Dollar Spent</label>
			    <input type="text" class="form-control" id="dollar_spent" placeholder="1/1" name="dollar_spent">
		  	</div>
		  </div>
		</div>  
		<button type = "submit" class = "btn btn-primary">Submit</button>
		
		</form>
	</div>
</body>

</html>
